{% extends 'base.html' %}

{% block content %}
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    About
                </h1>
                <h2 class="subtitle">
                    Learn more about our mission and story
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box has-background-grey has-text-white">
                        <p>
                            Taxidermy celiac skateboard pabst williamsburg cold-pressed asymmetrical photo booth twee. Letterpress master cleanse synth actually chia raw denim forage. Drinking vinegar lo-fi cray, pour-over williamsburg flannel hoodie skateboard glossier gluten-free truffaut paleo art party swag live-edge. Woke bespoke vibecession, wolf ethical seitan glossier tattooed copper mug pabst.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
