{% extends 'base.html' %}

{% block content %}
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Contact
                </h1>
                <h2 class="subtitle">
                    Get in touch with us
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box has-background-grey has-text-white">
                        <p>
                            Brunch cray praxis la croix. Echo park artisan neutra four loko meggings lumbersexual flannel master cleanse asymmetrical affogato art party kale chips hell of photo booth pitchfork. Vegan chambray helvetica, hexagon jawn ugh sustainable kitsch taiyaki air plant shaman poutine knausgaard austin literally. Vibecession echo park neutra, green juice succulents skateboard microdosing tilde bushwick la croix activated charcoal air plant master cleanse unicorn. Sus humblebrag farm-to-table post-ironic flexitarian tonx typewriter meditation chia paleo intelligentsia subway tile bicycle rights affogato mixtape. Beard forage bicycle rights grailed. Vaporware migas venmo mlkshk, hot chicken Brooklyn praxis single-origin coffee marxism cronut adaptogen bruh gentrify polaroid artisan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
